# Frontend
NEXT_PUBLIC_SITE_URL=https://sanguedoce.com.br
NEXT_PUBLIC_API_URL=http://localhost:3011
FRONTEND_PORT=3010
FRONTEND_API_URL=http://localhost:3011
FRONTEND_INTERNAL_API_URL=http://backend:3011
NEXT_IMAGE_UNOPTIMIZED=true

# Backend auth
SERVER_PORT=3011
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3011/auth/google/callback
FRONTEND_URL=http://localhost:3010

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5433
POSTGRES_DATA_DIR=./.docker/postgres

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=sangue-doce
MINIO_PUBLIC_PREFIX=public
MINIO_ENDPOINT=localhost
MINIO_USE_SSL=false
MINIO_REGION=us-east-1
MINIO_PUBLIC_URL=http://localhost:9610
MINIO_API_PORT=9610
MINIO_CONSOLE_PORT=9611
MINIO_DATA_DIR=./.docker/minio

# Infisical self-hosted secret manager
# Generate with:
# openssl rand -base64 32
# openssl rand -hex 16
INFISICAL_VERSION=latest
INFISICAL_PORT=8095
INFISICAL_SITE_URL=http://localhost:8095
INFISICAL_AUTH_SECRET=
INFISICAL_ENCRYPTION_KEY=
INFISICAL_TOKEN=
INFISICAL_PROJECT_ID=
INFISICAL_ENV=dev
INFISICAL_POSTGRES_USER=infisical
INFISICAL_POSTGRES_PASSWORD=
INFISICAL_POSTGRES_DB=infisical
INFISICAL_POSTGRES_PORT=5434
INFISICAL_POSTGRES_DATA_DIR=./.docker/infisical/postgres
INFISICAL_REDIS_DATA_DIR=./.docker/infisical/redis
