# Frontend
NEXT_PUBLIC_SITE_URL=https://sanguedoce.com.br
NEXT_PUBLIC_API_URL=http://localhost:3011

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5433
POSTGRES_DATA_DIR=./.docker/postgres

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=sangue-doce
MINIO_PUBLIC_PREFIX=public
MINIO_API_PORT=9610
MINIO_CONSOLE_PORT=9611
MINIO_DATA_DIR=./.docker/minio
