NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_MINIO_PUBLIC_URL=
NEXT_PUBLIC_MINIO_PUBLIC_PATH=
MINIO_INTERNAL_PUBLIC_URL=
NEXT_PUBLIC_BRAND_LOGO_PATH=/sangue-doce-logo-small.png
NEXT_PUBLIC_GOOGLE_AUTH_ENABLED=false
AUTH_COOKIE_SECURE=false
